<div>
  <h1>Hi <%=user.name%></h1> 
  <br>

  <p>
    You have requested a password reset. Please click the below button to reset your password.
  </p> 

  <a href="http://localhost:8000/users/passwordreset/?resettoken=<%=user.resetpass%>&email=<%=user.email%>">Reset Password</a>
  <br>

  <p>Thanks!</p>
</div>