<div>
  <h1>Forgot Password Section</h1>

  <p>
    You are changing the password for User : <%=user.name%>, email : <%=user.email%>
  </p>

  <form action="/users/passwordresetfinal" method="POST">
    <input type="hidden" value="<%=user.id%>" name="uid">
    <input type="hidden" value="<%=user.resetpass%>" name="utoken">
    <input type="password" name="upass">
    <input type="password" name="upassconfirm" >

    <button type="submit">Submit</button>
  </form>
</div>

<script src="/js/forget_pass.js"></script>