<link rel="stylesheet" href="/css/user_signin.css" />
<div id="signin-section">
  <h1>Sign In Page</h1>
  <br />
  <form action="/users/login" method="post">
    <input type="email" name="email" id="uemail" placeholder="Enter your email here" required/>
    <br /><br />
    <input type="password" name="password" id="upass" placeholder="Enter your password here" required/>
    <br /><br />

    <button type="submit">Login</button>
    <button type="reset">Clear</button>
  </form>

  <p>
    <a href="/users/auth/google">Google Sign In/Sign Up</a>
  </p>

  <p>
    <a id="fpass" href="/users/passwordreset">Forgot Password</a>
  </p>

</div>

<script src="/js/user_signin.js"></script>